/*Hayley Gregg Portfolio Stylesheet*/



        * {
         
            
            margin: 0;
            padding: 0;
            font-size: 100%;
        }


        body {
            
            font-family: 'Roboto', 'Source Sans Pro', sans-serif;
            font-weight: 300;
            color: #2c2c2c;
        
            
            
            
        }
   

        article {
            

            
        }


        section, #about {
            
            width: 60%;
            margin: 0 auto;
            padding: 80px 0; /* might have to change */
            
        }


        #work {
            
            width: 100%;
            background-color: #2deadb;  /*  another nice colour #00e5e5 light blue colour #87f2ee */
            padding-top: 40px;
            
            
        }




header {
    
    background-color: #2deadb; /*  another nice colour #00e5e5 light blue colour #87f2ee */
/*    color: white; in a diff place*/
    padding: 120px;
    
}



        h1, h2, h3, h4, h5, h6 {
            
            text-align: center;
            margin: 20px 0;
            font-weight: 300;
            
        }



h1 {
    
    font-size: 2.8em;
    font-weight: 100;
    margin: 0;
    
}

h2#subtitle {
 
    margin-top: 5px;
    padding-top: 0;
    font-weight: 300;
    font-size: 1.4em;

    
}

h3, #work-heading {
    
    
        font-size: 1.9em;
    
    
}


h1, h2#subtitle, #work-heading {
    
    color: white;
    
    
}


#work-heading {
    
    
    margin: 10px;
    
    
}


footer h4 {
    
    font-size: 0.7em;
/*    font-weight: 400;*/
    color: #c3c3c3;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;

    
    
}

footer {
    
    
    margin-bottom: 50px;
    
    
}



#about {
    
    
    padding-bottom: 50px; /* bring social links closer */
    
    
}

#about h3 {
    
    margin: 0;
margin-bottom: 20px;
    
    
}


#about p {
    
margin: 40px auto;
line-height: 1.5;
font-size: 1em; /* or 1.2? */
width: 75%;
    
}

p#more-about {
    
/*    text-align: center;*/
    font-family: 'Lobster', cursive;
    font-size: 1.4em;
    margin-bottom: 0px; /* was 10px */
    
}




a {
    
    text-decoration: none;
    border-bottom: 1px solid #5a5959;
    color: #5a5959;
    
    
}


#p-center, #work-heading {
    
    text-align: center;
    
    
}

figure {
   
    text-align: center;
    margin-bottom: 30px;
    
}

figure#lettering-heart {
    
text-align: center;
    margin: 40px 0;


    
}

figure#lettering-heart img {
    
    width: 50%;
    
    
}

#drawandcreate {
    
    width: 270px;
    margin: 0 auto;
    padding: 20px;
    
    
}

#draw, #create {
    
    float: left;
    width: 100px; /* was 200 */


    
}

#draw img, #create img {
    
    width: 100%;
    
}

p#and {
    
font-size: 3.9em;
font-weight: 100;
float: left;
width: 50px;
text-align: center;
padding: 10px;
    
}

h3#passion {
    
    clear: both;
    padding-top: 60px; /* padded drawandcreate instead */
    
    
}




ul#social { 
    
    
    text-align: center;
    list-style-type: none;
/*    margin-top: 20px;*/

    
    
    
}





ul#social li {
    
    
    display: inline;
    margin: 5px;
    
    
}

a.social-links {
    
    border-bottom: none;
    
    
}


ul#social li img {
    
    width: 40px;
    padding: 0 5px;
    
    
}


#work-images {
    
    
    text-align: center;
    
    
    
}



ul#showcase, ul#showcase2 {
    
    
    margin: 50px;
    
    
}


ul#showcase li a, ul#showcase li a:link, ul#showcase li a:hover, ul#showcase li a:visited, ul#showcase2 li a, ul#showcase2 li a:link, ul#showcase2 li a:hover, ul#showcase2 li a:visited {
    
    border: none;
    
    
}


ul#showcase li img, ul#showcase2 li img {
    
    width: 300px;
        opacity: 1.0;
    filter: alpha(opacity=40); 
    
    
}


ul#showcase li img:hover, ul#showcase2 li img:hover {
    opacity: 0.4;
    filter: alpha(opacity=100); 
}



ul#showcase li img:hover span.overlay, ul#showcase2 li img:hover span.overlay {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}






ul#showcase li, ul#showcase2 li {
    
    display: inline;
    margin: 0 30px;
    
    
}


footer ul#social li a img { 
    
        opacity: 0.2; /* was 0.4 */
    filter: alpha(opacity=40); /* For IE8 and earlier */
    
    
    
}


footer ul#social li a img:hover {
    
       opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */ 
    
}

